.counter-wrap
  .container.fixed-width
    .row.justify-content-center.align-items-center
      .col
        .counter-item
          .text
            h3.use-text-title2 +200
            p.use-text-subtitle2 #{$t.agency_landing.about_employee}
      .col
        .counter-item
          .text
            h3.use-text-title2 +500
            p.use-text-subtitle2 #{$t.agency_landing.about_projects}
      .col
        .counter-item
          .text
            h3.use-text-title2 +300
            p.use-text-subtitle2 #{$t.agency_landing.about_client}
