g(stroke='none', stroke-width='1', fill-rule='evenodd')
  g(transform='translate(-74.000000, -74.000000)')
    rect(transform='translate(339.184484, 339.184484) rotate(-45.000000) translate(-339.184484, -339.184484) ', x='142.184484', y='142.184484', width='394', height='394', rx='33')