.parallax-wrap.dots-wrap
  .inner-parallax
    .figure
      div#dots
        div(data-enllax-ratio="-0.3" data-enllax-type="foreground")
          |
          |
          img.parallax-dot(src=assets+"/images/decoration/dot-deco.svg" alt="dot deco")/
          |
          |
