.parallax-wrap
  div#square
    .banner.inner-parallax
      .figure
        div
          div(data-enllax-ratio="0" data-enllax-type="foreground")
            .parallax-square.parallax-primary
    .about.inner-parallax
      .figure
        div
          div(data-enllax-ratio="-0.25" data-enllax-type="foreground")
            .parallax-square.parallax-secondary
      .figure
        div
          div(data-enllax-ratio="-0.2" data-enllax-type="foreground")
            .parallax-square.parallax-primary
